html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-right: 10px;
    width: 50px;
}

.container {
    flex: 1;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.main-content {
    margin-bottom: 50px;
}

.dropdown-toggle {
    outline: 0;
}


.scrollarea {
    overflow-y: auto;
}

.row .collections {
    flex-wrap:nowrap;
}

.card-collection {
    border: none;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer;
    flex: 1;
    position: relative;
}

.card-collection:hover {
    transform: scale(0.995);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 30%;
    color: darkgray;
    transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card-collection a {
    color:grey;
}

.card-collection a:hover {
    color:#c71744;
}

code {
    color: #c71744;
}

a {
    color: #c71744;
    text-decoration: none;
}

ul a {
    color: #c71744;
    text-decoration: none;
}

a:hover {
    color: black;
}

.uri a {
    color: rgb(68, 67, 67);
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0
}


.link-body-emphasis {
    color: #343a40;
}

.link-body-emphasis:hover {
    color: #007bff;
}

.text-body-secondary {
    color: #6c757d;
}

.footer {
    flex-shrink: 0;
    
}

.footer-logo {
    height: 40px;
}

.short-hr {
    width: 20%;
    margin: 20px auto;
}

.fa-orcid {
    color: #A6CE39;
}

.fa-github {
    color: #181717;
}

.border-start-lg {
    border-left-width: 0.25rem !important;
}

.border-start-success {
    border-left-color: #cf3c7e !important;
}

.border-start-muted {
    border-left-color: #a7aeb8 !important;
}

/* Credits box */

.credits-box {
    box-shadow: 0 0 0 1px rgba(84, 6, 6, 0.08);
    border-radius: 0.25rem;
}

.name-credits {
    font-weight: 600;
}

/* Footer Images Style */

.banner {
    box-sizing: content-box;
}

@media (max-width: 576px) {
    .banner {
        box-sizing: content-box;
    }
}

.card {
    border: 0px !important;
}

.list-unstyled {
    margin-left: 10px;
}

.skos-info {
    font-size: medium;
}

.skos-info i {
    color: lightgrey;
}

.square-image {
    height: 100%;
    max-height: 100px;
    width: auto;
}

@media (max-width: 767.98px) {
    .square-image {
        box-sizing: content-box;
        margin-bottom: 1rem;
    }

    .text-md-start .row {
        flex-direction: column;
    }
}

.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}